/* Цвет фона - основной #ffffff */
/* Цвет фона - второстепенный и подвал - #2F303A */
/* Цвет фона - кнопка - #2196F3 */
/* Цвет фона - секция Наша Команда - #F5F4FA */
/* Цвет лого - #2196F3 */
/* Цвет текста - заголовки и навигация - #212121*/
/* Цвет текста - параграф, телефон и почта - #757575 */
/* Цвет текста - навигация при активности и кнопки - #2196F3 */
/* Цвет текста - основные услуги и адрес в подвале - #ffffff */
/* Цвет текста - подвал - телефон и почта - 255, 255, 255, 0.6 */

:root {
  --bgc-primary: #ffffff;
  --bgc-secondary: #2f303a;
  --bgc-button: #2196f3;
  --bgc-our-team: #f5f4fa;
  --txt-nav-n-headings: #212121;
  --txt-paragraphs: #757575;
  --txt-inactive: #2196f3;
  --txt-main-inactive-foot-address: #ffffff;
  --txt-footer-phone-n-mail: rgba(255, 255, 255, 0.6);
}

.body {
  background-color: var(--bgc-primary);

  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

p {
  color: var(--txt-paragraphs);
}

h1,
h2,
h3 {
  color: var(--txt-nav-n-headings);
}

address {
  font-style: normal;
}

.nav {
  background-color: var(--bgc-primary);
}

.logo-nav {
  color: #2196f3;

  font-family: Raleway, sans-serif;
}

.logo-nav span {
  color: black;
}

.nav-links a {
  color: var(--txt-nav-n-headings);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-links a:hover,
.nav-links a:focus {
  color: var(--txt-inactive);
}

.nav-address a {
  color: var(--txt-paragraphs);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-address a:hover,
.nav-address a:focus {
  color: var(--txt-inactive);
}

.main-activity {
  background-color: var(--bgc-secondary);
}

.main-activity h1 {
  color: var(--txt-main-inactive-foot-address);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-activity-button {
  background-color: var(--bgc-button);
  color: var(--txt-main-inactive-foot-address);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

.advantages h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.our-team {
  background-color: var(--bgc-our-team);
}

.our-team-list h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

.footer {
  background-color: var(--bgc-secondary);
}

.logo-footer {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.logo-footer span {
  color: #ffffff;
}

.footer-address {
  color: var(--txt-main-inactive-foot-address);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address a {
  color: var(--txt-footer-phone-n-mail);
}

.footer-address a:hover,
.footer-address a:focus {
  color: var(--txt-inactive);
}

.filter button {
  color: var(--txt-nav-n-headings);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
}

.filter button:hover,
.filter button:focus {
  background-color: var(--bgc-button);
  color: var(--txt-main-inactive-foot-address);
}

.projects-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
