/* Цвет фона - основной #ffffff */
/* Цвет фона - второстепенный и подвал - #2F303A */
/* Цвет фона - кнопка - #2196F3 */
/* Цвет фона - секция Наша Команда - #F5F4FA */
/* Цвет лого - #2196F3 */
/* Цвет текста - заголовки и навигация - #212121*/
/* Цвет текста - параграф, телефон и почта - #757575 */
/* Цвет текста - навигация при активности и кнопки - #2196F3 */
/* Цвет текста - основные услуги и адрес в подвале - #ffffff */
/* Цвет текста - подвал - телефон и почта - 255, 255, 255, 0.6 */

:root {
  --bgc-primary: #ffffff;
  --bgc-secondary: #2f303a;
  --bgc-button: #2196f3;
  --bgc-our-team: #f5f4fa;
  --txt-nav-n-headings: #212121;
  --txt-paragraphs: #757575;
  --txt-inactive: #2196f3;
  --txt-main-inactive-foot-address: #ffffff;
  --txt-footer-phone-n-mail: rgba(255, 255, 255, 0.6);
}

/* Тесты */

/* box-sizing: border-box */

/* Конец тестов */

.body {
  background-color: var(--bgc-primary);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  color: var(--txt-nav-n-headings);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

p {
  color: var(--txt-paragraphs);
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Header - logo; navigation; address */

.page-header {
  background-color: var(--bgc-primary);
}

.nav-flex {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-nav {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-nav span {
  color: black;
}

.nav-links {
  display: flex;
  margin-left: 93px;
}

.nav-links a {
  color: var(--txt-nav-n-headings);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-links a:hover,
.nav-links a:focus {
  color: var(--txt-inactive);
}

.nav-links-items {
  margin-right: 50px;
}

.nav-links-items:last-child {
  margin-right: 0;
}

.nav-address {
  display: flex;
  margin-left: auto;
}

.nav-address a {
  color: var(--txt-paragraphs);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-address a:hover,
.nav-address a:focus {
  color: var(--txt-inactive);
}

.nav-address-items + .nav-address-items {
  margin-left: 50px;
}

/* Main */
/* Main - banner */

.main-activity {
  background-color: var(--bgc-secondary);
  text-align: center;
}

.main-activity-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 40px;
  padding-top: 200px;

  color: var(--txt-main-inactive-foot-address);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-activity-button {
  margin-top: 0;
  margin-bottom: 210px;
  border-radius: 4px;
  border: transparent;
  padding: 10px 32px;

  background-color: var(--bgc-button);
  color: var(--txt-main-inactive-foot-address);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Main - Advantages Section */

.advantages {
  padding-top: 94px;
  padding-bottom: 0;
}

.advantages h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages p {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.advantages-list {
  display: flex;
}

.advantages-list-items {
  flex-basis: calc((100%-3 * 30px) / 4);
}

.advantages-list-items:not(:last-child) {
  margin-right: 30px;
}

/* Main - Our Work Section */

.our-work {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
}

.our-work-flex {
  display: flex;
}

.our-work-flex-item {
  width: 370px;
  height: 294px;
}

.our-work-flex-item:not(:last-child) {
  margin-right: 30px;
}

/* Main - Our Team Section */

.our-team-section {
  padding-top: 94px;
  padding-bottom: 94px;

  background-color: var(--bgc-our-team);
}

.our-team-list {
  display: flex;
}

.our-team-list-item {
  text-align: center;
}

.our-team-list-item:not(:last-child) {
  margin-right: 30px;
}

.our-team-person {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.our-team-person-position {
  margin-top: 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer */

.footer {
  background-color: var(--bgc-secondary);
}

.logo-footer {
  color: #2196f3;
  font-family: Raleway, sans-serif;
}

.logo-footer span {
  color: #ffffff;
}

.footer-address {
  color: var(--txt-main-inactive-foot-address);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address a {
  color: var(--txt-footer-phone-n-mail);
}

.footer-address a:hover,
.footer-address a:focus {
  color: var(--txt-inactive);
}

.filter button {
  color: var(--txt-nav-n-headings);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
}

.filter button:hover,
.filter button:focus {
  background-color: var(--bgc-button);
  color: var(--txt-main-inactive-foot-address);
}

.projects-list h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
